@model IEnumerable<NimapProject.Models.Category>
@{
    ViewBag.Title = "Categories";
}

<h2>Category List</h2>
<table class="table">
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
        </tr>
    }
</table>

<div>
    @if (ViewBag.TotalPages > 1)
    {
        for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <a href="@Url.Action("Index", new { page = i })" class="btn @(i == ViewBag.CurrentPage ? "btn-primary" : "btn-light")">@i</a>
        }
    }
</div>
